<div class="sean-navbar">
  <div class="navbar-inner">
    <div class="navbar-link">
      <a class="navbar-link-text" href="#details">
        THE DETAILS
      </a>
    </div>
    <div class="navbar-link">
      <a class="navbar-link-text" href="#directions">
        GETTING THERE
      </a>
    </div>
    <div class="navbar-link-text large-navbar-link">
      Sean & Laura
    </div>
    <div class="navbar-link">
      <a class="navbar-link-text" href="#accomodations">
        ACCOMODATION
      </a>
    </div>
    <div class="navbar-link">
      <a class="navbar-link-text" href="#">
        RSVP
      </a>
    </div>
  </div>
</div>
